@import './playlist-d.css';
@import './playlist-biblioteca.css';
/* .playlistList{
  border: 1px solid red;
} */
.playlistListD-top{
  padding-block-end:.5rem ;
  padding-block-start: .5rem;
  margin-block-end: 1rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.playlistListD-title{

  font: var(--headLine2);
  color: var(--white);
  margin: 0;
}

.playlistListD-container{
  /* border: 1px solid blue; */
  display: flex;
  /* overflow-x: auto; */
  flex-wrap: wrap;
  gap: 1.5rem;
}
/* .playlistList-container2{
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  margin-top: .75rem;
} */

.playlistListD-container >*,.playlistListD-container2 >* {
  flex-shrink: 0;
}


